@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button {
  text-transform: uppercase;
}

.flex-container {
  text-align: left;
  width: 320px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
