<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to The house
  </h1>

  <nav>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
  </nav>
  <router-outlet></router-outlet>
</div>


