<form (submit)="addTask($event)">
  <div class="flex-container">
    <mat-form-field>
      <input matInput placeholder="Add Task" name="title" [(ngModel)]="title">
    </mat-form-field>
    <button type="submit" mat-raised-button class="btn" color="primary">Add</button>
  </div>
</form>

<div class="task-list">
  <div class="task-item flex-container" *ngFor="let task of tasks">
    <mat-checkbox>{{ task.title }}</mat-checkbox>
    <button mat-button class="btn" color="warn" (click)="deleteTask(task._id)">Delete</button>
  </div>
</div>
