<form (submit)="addUser($event)">
  <div class="flex-container">
    <mat-form-field>
      <input matInput placeholder="Add User" name="title" [(ngModel)]="username">
    </mat-form-field>
    <button type="submit" mat-raised-button class="btn" color="primary">Add</button>
  </div>
</form>

<div class="task-list">
  <div class="task-item flex-container" *ngFor="let user of users">
    <mat-checkbox>{{ user.name }}</mat-checkbox>
    <button mat-mini-fab (click)="removeUser(user, $event)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
